<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Twitter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Inicio/Inicio.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/css/Layout/Layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
</head>
<body>
    <div class="row contenedorLayout">
        <div class="col-2 col-md-3 col-sm-2 contenedorListaMenu">
            <ul class="listaMenu">
                <li><a onclick="location.href='@Url.Action("Inicio", "Inicio")'" class="rounded-pill linkLayout"><i class="bi bi-twitter-x"></i></a></li>
                <li><a onclick="location.href='@Url.Action("Inicio", "Inicio")'" class="rounded-pill linkLayout"><i class="bi bi-house-door-fill"></i><span class="textoListaMenu"> Inicio</span></a></li>
                <li><a onclick="location.href='@Url.Action("Explorar", "Explorar")'" class="rounded-pill linkLayout"><i class="bi bi-search"></i><span class="textoListaMenu"> Explorar</span></a></li>
                <li><a onclick="location.href='@Url.Action("Notificaciones", "Notificaciones")'" class="rounded-pill linkLayout"><i class="bi bi-bell"></i><span class="textoListaMenu"> Notificaciones</span></a></li>
                <li><a onclick="location.href='@Url.Action("Mensajes", "Mensajes")'" class="rounded-pill linkLayout"><i class="bi bi-envelope"></i><span class="textoListaMenu"> Mensajes</span></a></li>
                <li><a onclick="location.href='@Url.Action("Extras", "Extras")'" class="rounded-pill linkLayout"><i class="bi bi-slash-square"></i><span class="textoListaMenu"> Grok</span></a></li>
                <li><a onclick="location.href='@Url.Action("Listas", "Listas")'" class="rounded-pill linkLayout"><i class="bi bi-file-text"></i><span class="textoListaMenu"> Listas</span></a></li>
                <li><a onclick="location.href='@Url.Action("Guardados", "Guardados")'" class="rounded-pill linkLayout"><i class="bi bi-bookmark"></i><span class="textoListaMenu"> Guardados</span></a></li>
                <li><a onclick="location.href='@Url.Action("Comunidades", "Comunidades")'" class="rounded-pill linkLayout"><i class="bi bi-people"></i><span class="textoListaMenu"> Comunidades</span></a></li>
                <li><a onclick="location.href='@Url.Action("Premium", "Premium")'" class="rounded-pill linkLayout"><i class="bi bi-twitter-x"></i><span class="textoListaMenu"> Premium</span></a></li>
                <li><a onclick="location.href='@Url.Action("Perfil", "Perfil")'" class="rounded-pill linkLayout"><i class="bi bi-person"></i><span class="textoListaMenu"> Perfil</span></a></li>
                <li><a onclick="location.href='@Url.Action("Extras", "Extras")'" class="rounded-pill linkLayout"><i class="bi bi-three-dots"></i><span class="textoListaMenu"> Más opciones</span></a></li>
                <li><button id="btnNuevoPostlayout" class="col btn rounded-pill btnPostear"><i class="bi bi-feather"></i><span class="textoListaMenu"> Postear</span></button></li>
                <li class="liPerfil">
                    <div class="row rounded-pill perfilLista">
                        <div class="col-12 col-md-4 divimgPerfilLista">
                            <img class="imgPerfilLista" src="~/images/Perfil.png" />
                        </div>
                        <div class="col-md-8 divUsuarioPerfilLista">
                            Daniel Alanís        ...
                            <br />
                            <span class="ArrobaUsuario">@@DanielAlanís</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-9 col-md-5 col-sm-10 bodyLayout">
            @RenderBody()
        </div>
        <div class="col-md-4 contenedorBusqueda">
            <div class="row rowBarraBusqueda DivBusquedaSinSeleccionar rounded-pill">
                <label><i class="bi bi-search"></i> </label>
                <input class="inpBuscarSinSeleccionar" placeholder="Buscar" />
            </div>
            <div class="card row cardSuscribeteAPremium">
                <h5 class="font-weight-bolder titleSub">Suscríbete a Premium</h5>
                <p class="textoSuscribirse">Suscríbete para desbloquear nuevas funciones y, si eres elegible, recibir un pago de cuota de ingresos por anuncios.</p>
                <button id="btnSuscribirse" class="btn btn-sm font-weight-bold btnSuscribirse rounded-pill">Suscribirse</button>
            </div>
            <div id="cardQueEstaPasando" class="card row cardQueEstaPasando">
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalSuscribirse" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                    </div>
                    <div class="col-10"></div>
                </div>
                <div class="modal-body">
                    <p class="pQuienEres">¿Quién eres?</p>
                    <p class="pEligeSuscripcion">Elige una suscripción correcta para ti:</p>
                    <div class="row divCardsSuscribir">
                        <div class="cardPersona card">
                            <p class="card-header">Premium</p>
                            <h5 class="card-title">Persona</h5>
                            <p class="card-text">Para personas y creadores</p>
                        </div>
                        <div class="cardOrganizacion card">
                            <p class="card-header">Organizaciones verificadas</p>
                            <h5 class="card-title">Organización</h5>
                            <p class="card-text">Para empresas, organismos<br /> gubernamentales y organizaciones<br /> sin fines de lucro</p>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btnModalSucribirse btn btn-lg btn-light rounded-pill">Suscribirse</button>
                    </div>
                    <p class="pMasInfo">Mas información sobre <span class="txtAzul">Premium</span> y <span class="txtAzul">Organizaciones verificadas</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalNuevoPost" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-4"><p class="pBorradores">Borradores</p></div>
                </div>
                <div class="modal-body">
                    <div class="row contenedorPost">
                        <div class="col-2 col-md-1 col-sm-2 divImgPostear">
                            <img class="imgPerfilPostear img-fluid" src="~/images/Perfil.png" />
                        </div>
                        <div class="col-10 col-md-11 col-sm-10">
                            <div class="row contenedorTextAreaPost">
                                <textarea id="inpPost" maxlength="240" placeholder="¡¿Qué está pasando?!"></textarea>
                                <p class="pAdvertencia"><i class="bi bi-globe-americas"></i> Cualquier persona puede responder</p>
                            </div>
                            <div class="row">
                                <div class="col-8 colIconos">
                                    <input type="file" id="inputFile">
                                    <label for="inputFile" class="btn lbliconoImagen"><i class="bi bi-file-image"></i></label>
                                    <button class="btn iconoPost"><i class="bi bi-filetype-gif"></i></button>
                                    <button class="btn iconoPost"><i class="bi bi-card-list"></i></button>
                                    <button class="btn iconoPost"><i class="bi bi-emoji-smile"></i></button>
                                    <button class="btn iconoPost"><i class="bi bi-calendar2-plus"></i></button>
                                    <button class="btn iconoPost"><i class="bi bi-pin-map"></i></button>
                                </div>
                                <div class="col-4 divbtnPostear">
                                    <button class="btn rounded-pill" id="btnPostearInicio">Postear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Layout/Layout.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
